@import url("https://fonts.googleapis.com/css?family=Open+Sans|Sacramento");
:root {
  --border-radius: 10px;
  --dark-grey: #e2e9f4;
}
.bg-grey{
  background: var(--dark-grey) !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.openSeadragonContainer{
  display: inline-block;
  background: black;
  width: 100%;
  height: 80vh;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.LoadingStyles{
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
  top: 45%;
}
.LoadingStyles div { 
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid navy;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: navy transparent transparent transparent;
}
.LoadingStyles div:nth-of-type(1) {
  animation-delay: -0.45s;
}
.LoadingStyles div:nth-of-type(2) {
  animation-delay: -0.3s;
}
.LoadingStyles div:nth-of-type(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.thumb-banel{
  position: relative;
  height: 113px;
  z-index: 4;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.thumbnailView{
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden; 
}

.panelListingThumbs{
  clear: both;
  list-style: none;
  padding: 0;
  white-space: nowrap;
  margin-top: 13px;
  margin-bottom: 4px;
}

.panelListingThumbs li{
  box-sizing: border-box;
    padding: 0 10px 0 10px;
    display: inline-block;
}
.panelListingThumbs img{
  margin: 8px;
}

.toolbar-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.toolbar-controller{
  color: black;
  background: #bba27a;
  border-radius: 14px;
  border: 0;
  font-size: 1rem;
  padding: 10px;
}
.toolbar-controller:hover{
  background:black;
  color: #bba27a;
}

.toolbar-dropdownWarapper{
  position: relative;
  display: inline-block;
}



.toolbar-dropdown{
  position: absolute;
  top: 50px;
  left: -65px;
  background: #342f2e;
  color: #e3e3e3;
  width: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #716c6b;
}
.toolbar-dropdown button{
  padding: 0.25rem .5rem;
  color: #f0f0f0;
  display: inline-block;
  width: 100%;
  font-size: 10px;
}
.toolbar-dropdown button :disabled{
  background: grey;
}
.toolbar-dropdown button:hover{
  background: #716c6b;
  transition: all 0.25s ease-in-out;
}

.osdTopRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 60px;
}
.tilesTopRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 5%;
  height: 60px;
}
.workTitle{
  text-align: left;
  color: white;
  font-size: 1rem;
  padding-left: 1rem;
}
.toolBarWrapper{
  font-size: 1rem;
  color: #e3e3e3;
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 180px;
  padding-right: 1rem;
}
.toolBarWrapper select{
  color: #e3e3e3;
  background-color: #716c6b;
  height: auto;
  margin: 1rem 0 1rem 1rem;
}
.list-banel {
  position: relative;
  height: 370px;
  z-index: 4;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.loaderWrapper{
  text-align: center;
  height: 1000px;
  width: 800px;
}
/* list */

.frame {
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: #333;
}

.todo-cmp {
  background: #ffffff;
  color: #497081;
  padding: 0 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.15);
  width: 180px;
}
.todo-cmp__header {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.todo-cmp__header h2 {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 4px auto;
  padding: 0;
}
.todo-cmp__header p {
  padding: 0 0 5px;
  margin: 4px auto;
  font-size: 0.8rem;
}
.todo-cmp__list {
  list-style: none;
  padding: 0;
}
.todo-cmp__list li {
  padding: 10px 0 15px;
  margin: 0;
  text-align: left;
  width: 100%;
  /* display: flex;
  flex-direction: column; */
}
.todo-cmp__list li label,button {
  cursor: pointer;
  font-size: 0.82rem;
  width: 100%;
  display: block;
}
.todo-cmp__list li label input {
  float: right;
  opacity: 0;
}
.todo-cmp__list li label,button span {
  position: relative;
  display: block;
  transition: all 550ms ease-in-out;
}
.todo-cmp__list li label input + span::after {
  content: "";
  display: block;
  border: 1px solid #497081;
  border-radius: 13px;
  height: 13px;
  width: 13px;
  position: absolute;
  right: 0;
  top: 1px;
  z-index: 10;
  transition: all 550ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* https://matthewlein.com/tools/ceaser */
}
.todo-cmp__list li label input + span::before {
  content: "✔";
  display: block;
  font-size: 22px;
  height: 13px;
  width: 13px;
  position: absolute;
  right: -2px;
  top: -8px;
  z-index: 10;
  opacity: 0;
}
.todo-cmp__list li label input:checked + span {
  color: #ccc;
  transition: all 550ms ease-in-out;
}
.todo-cmp__list li label input:checked + span::after {
  opacity: 0;
  height: 17px;
  width: 17px;
  top: -2px;
  right: -2px;
}
.todo-cmp__list li label input:checked + span::before {
  opacity: 1;
  transition: all 550ms ease-in-out;
}

.dropdownSelectWrapper{
  width: 240px;
  color: #2e2f34;
  padding-right: 1rem;
  font-size: 1rem;
}
.search-container{  
  -webkit-font-smoothing: antialiased;
  color: #acbdce;
  font-family: "Open Sans", sans-serif;
  line-height: 1.45em;
  background-color: #f0f0f0;
  color: #404646;
}
.search-wrapper{
  background: #e2e9f4;
  display: grid;
  height: 100%;
  grid-template: 2fr/50%;
  place-items: center;
}
.main-container {
  margin: 5.6rem 0.8rem;
}

.grid-container {
  margin: auto;
  display: grid;
  grid-gap: 1.1312rem;
  grid-template-columns: repeat(auto-fit, 30rem);
  grid-auto-rows: 10.8rem;
  grid-auto-flow: dense;
  justify-content: center;
}
.search-card {
  grid-row: auto/span 1;
  grid-column: auto/span 1;
  background-color: white;
  box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);
}
.card--horizontal {
  grid-column: auto/span 2;
}
.card__side-by-side--m {
  height: 100%;
  width: 100%;
  display: flex;
}
.card--featured {
  grid-row: auto/span 2;
  grid-column: 1/-1;
}
.big-script {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Sacramento", sans-serif;
  font-size: 4.3em;
  line-height: 1.15em;
  text-align: center;
}

.button-download{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    margin-right: 12px;
    width: 130px;
    min-height: 30px;
    background: #5c6c82;
    color: #e2e9f4;
    font-weight: bolder;

    width: 125px;
    box-shadow: -2px -2px 6px rgb(255 255 255 / 60%), 2px 2px 12px #c8d8e7;
}

.d-f-center{
  display: flex;
  justify-content: center;
}